



hr{
display: inline-block;
margin:auto;
width:80%;

}
/*
<a class="list-group-item" style="cursor: pointer;"
>
label {
  font-weight: bold;
  margin-left: 400px; margin-top: -35px;
  margin-top: -35px;
}*/
