.container {
  position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    background-color: white;
    overflow-x: hidden;
    box-shadow: 2px 2px 2px #888888;
}


#name {
width: 300px;
height: 35px;

}

#status3 {
width: 300px;
height: 35px;
}


#serch {
position: fixed;
left: 500px;
width: 300px;
height: 40px;
top: 70px;
}
#navigate {
position: fixed;
left: 800px;
width: 100px;
height: 40px;
top: 70px;
color: white;
}
