<hr class="class-1"/>

<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/web logo.png" class="img-responsive" alt="web logo.png"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"
        >

          <a class="nav-link active" aria-current="page" routerLink="/" style="color: white"
          >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color: white">Our Web</a>
        </li>
        <li class="nav-item"
        >
          <a class="nav-link active"
          aria-current="page" routerLink="/aboutUs" style="color: white">about Us</a>
        </li>
        <li class="nav-item"
        >

          <a class="nav-link" routerLink="/login" style="color: white"
          >Log In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: white">Sign Up</a>

        </li>
      </ul>
      </div>
      <form class="d-flex">
      <input class="form-control me-2" id="serch" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-dark" id="navigate" type="submit">Search</button>
    </form>
    </div>

</nav>


 <hr class="class-2"/>
