.nav-pills > li.active > a{
    color: red;
}
.img-responsive {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

      hr.class-1 {
        border-top: 10px solid #42ba96;
        color:
      }

      hr.class-2 {
        border-top: 10px solid #42ba96;
      }
